# File managed by Sgoettschkes/dotfiles
# Do not change

"*":
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
    audioBeep: false
  editor:
    invisibles: {}
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    fontFamily: "Inconsolata"
    fontSize: 15
